:root{
    --board-primary-color:  rgb(0, 139, 139);
    --spots-background-color: rgb(16, 26, 39);
    --spots-hover: rgba(16, 26, 39, 0.9);
    --text-primary-color: rgba(255, 255, 255, .75);
    

}


body{
    background-color: var(--spots-background-color);
    margin: 0;
}

header #title{
    color: var(--text-primary-color);

    font-family: 'Eczar', sans-serif;
    font-size: 70px;

    text-align: center;
}

#container{
    
    display: flex;
    justify-content: space-evenly;


    margin: 0 auto;
}

#container #board{
    background-color: var(--board-primary-color);

    border: 25px solid var(--board-primary-color);
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
    
    width: 500px;
    height:500px;

    /* margin:  auto; */
}

.spots{
    color: var(--text-primary-color);
    background-color: var(--spots-background-color);

    border: 0;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Eczar', sans-serif;
    font-size: 80px;

    cursor: pointer;

    transition: background 0.2s;

}

.spots:hover{
    background-color: var(--spots-hover);
}

#container #scoreBoard{
    border: 8px solid var(--board-primary-color);
    border-radius: 8px;

    color: var(--text-primary-color);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "score score"
        "score score"
        "xPlayer oPlayer"
        "xScore oScore"
        "xScore oScore";

    width: 400px;
    height: 300px;

}

#container #scoreBoard #scoreHeader{

    border-bottom: 3px solid var(--board-primary-color);

    font-family: 'Eczar', sans-serif;
    font-size: 35px;

    grid-area: score;

    display: flex;
    align-items: center;
    justify-content: center;
}

#container #scoreBoard #xplayer,
#container #scoreBoard #oplayer{
    color: var(--text-primary-color);

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Eczar', sans-serif;
    font-size: 20px;
}

#container #scoreBoard #xplayer{
    border-right: 3px solid var(--board-primary-color);
    border-bottom: 3px solid var(--board-primary-color);
    
    grid-area: xPlayer;

    padding: 5px;

    margin-top: 0;
    margin-bottom: 0;

    text-align: center;
}

#container #scoreBoard #oplayer{
    border-bottom: 3px solid var(--board-primary-color);

    grid-area: oPlayer;

    padding: 5px;

    margin-top: 0;
    margin-bottom: 0;

    text-align: center;
}

#container #scoreBoard #xScore{
    border-right: 3px solid var(--board-primary-color);

    grid-area: xScore;
}

#container #scoreBoard #oScore{
    grid-area: oScore;
}

#container #scoreBoard #xScore,
#container #scoreBoard #oScore{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Eczar', sans-serif;
    font-size: 50px;

    margin-top: 0;
    margin-bottom: 0;
}



@media (max-width: 1100px){
    header{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 18rem;

        margin-bottom: 2rem;
    }

    header #title{
        font-size: 7rem;
    }

    #container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        width: 100%;
    }

    #container #board{
        border: 1.5rem solid var(--board-primary-color);

        grid-gap: 1.8rem;

        margin-bottom: 8rem;

        width: 40rem;
        height: 40rem;
    }

    .spots{
        font-size: 6.4rem;
    }

    #container #scoreBoard{
        width: 80%;
        height:25rem;

    }

    #container #scoreBoard #scoreHeader{
        font-size: 4rem;
    }

    #container #scoreBoard #xplayer,
    #container #scoreBoard #oplayer{
        font-size: 2.5rem;
    }   

    #container #scoreBoard #xScore,
    #container #scoreBoard #oScore{
        font-size: 5.5rem;
    }
}